*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(./images/flat-lay-arrangement-with-salad-box-sauce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 1%;

}
h4, p {
    text-align: left;
    color: dimgrey;

}
h4{
    color: #AE7544;
    font-weight: bold;
}
h3{
    color: #AE7544;
    position: absolute;
    bottom: 0;
    left: 25%;
}
.logo{
    width: 10%;
    float: left;

}

nav{
    display: block;
    line-height: 40px;
    width: 100%;
    background-color: whitesmoke;
    padding:  0;
    margin-bottom: 2%;
}
ul.nav {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #ff6b81;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #ff4757;
}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757;
}
.btn-sbmt{
    width: 200px;
    display: block;
    margin: 0 auto;

}
.btn-submit{
    width: 200px;
    display: block;
    margin: 0 auto;
}
.img-responsive{
    width: 100%;
    margin-top: -5%;
}
.img-responsive-1{
    width: 100%;
    margin-top: -15%;
}

h1{
    color: #ff4757;
    font-size: 3rem;
    margin-bottom: 2%;
    text-align: center;
    font-weight: bold;
}
h2{
    color: #ff4757;
    font-size: 2rem;
    margin-bottom: 2%;
    text-align: center;
}
footer p{
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.confirmation {
    color: forestgreen;
    font-size: 2.5rem;
    font-weight: bold;
}
legend{
    font-size: 1.5rem;
    color: #ff4757;
}
.form-control{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%;
    font-weight: bold;
}
#orderForm{
    width: 50%;
    margin: 0 auto;
    border: 1px solid white;
    padding: 3%;
    border-radius: 5px;
    background-color: rgba(231, 231, 231, 0.61);
}
.product-label {
    display: block;
    overflow: hidden;
}

.product-info {
    float: left;
    margin-right: 10px;
}
.product-image{
    float: right;
    max-width: 100px;
    height: auto;
}

.result{
    width: 50%;
    margin: 0 auto;
    padding: 3%;
    display: flex;
    border-radius:50px;
}

#orderDetails {
    width: 70%;
    position: relative;
    padding: 20px;
    background-color: wheat;

}
.orderdetails,
.adressdetails {
    margin-bottom: 10%;
    border: 1px solid dimgray;
    height: 700px;
    display: block;

}
p.orderdetails,
p.adressdetails {
    text-align: left;
}
.selected-product-image{
    float: right;
    margin-left: 10px;
    max-width: 80px;
}
.product-img{
    height: 100px;
}
.deliverytime{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top:-7rem;
}
.btn-sbmt{
    margin-top: -4rem;
    margin-bottom: 2rem;
}
/*home*/
.categories{
    padding: 10% 0;
}
.categories .container {
    text-align: center;
}
.box-3{

    display: inline-block;
    margin: 0 15px; /* Adjust the margin value as needed */
    text-align: left;
}
.food-menu{

   margin: 0 auto;
    margin-left: 4rem;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}
span{
    font-size: 1.5rem;
}
.img-curve{
    border-radius: 15px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
    margin-right: 5rem;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 30px;
    left: 40%;
    font-weight: bold;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}